<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="style.css">

</head>

<body>

   <!-- header section starts  -->

   <header class="header">

      <nav class="navbar nav-1">
          <section class="flex">
              <a href="/" class="logo"><i class="fas fa-house"></i>EliteEstates</a>

              <ul>
               <li>
                  <div>
                      <h2 style="color:aliceblue">
                          <% if (user && user.userName) { %>
                           <i class="fa fa-user-circle" aria-hidden="true" style="color:aliceblue"></i>
                              <%= user.userName %>
                          <% }else { %>

                           <a href="login.html"><h4>Login</h4></a>

                           <% } %>
                      </h2>
                  </div>
              </li>              
              
              </ul>
          </section>
      </nav>

      <nav class="navbar nav-2">
          <section class="flex">
              <div id="menu-btn" class="fas fa-bars"></div>

              <div class="menu">
                  <ul>
                      <li><a href="#">Buy<i class="fas fa-angle-down"></i></a>
                          <ul>
                              <li><a href="villa.html">Villa</a></li>
                              <li><a href="flat.html">Flat</a></li>
                              <li><a href="shops.html">Shop</a></li>
                              <!-- <li><a href="#">Ready to move</a></li>
                      <li><a href="#">Furnished</a></li> -->
                          </ul>
                      </li>
                      <li><a href="#">Sell<i class="fas fa-angle-down"></i></a>
                          <ul>
                              <!-- <li><a href="#">Post Property</a></li>
                      <li><a href="#">dashboard</a></li> -->
                              <li><a href="villa.html">Villa</a></li>
                              <li><a href="flat.html">Flat</a></li>
                              <li><a href="shops.html">Shop</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Rent<i class="fas fa-angle-down"></i></a>
                          <ul>
                              <li><a href="villa.html">Villa</a></li>
                              <li><a href="flat.html">Flat</a></li>
                              <li><a href="shopsr.html">Shop</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Help<i class="fas fa-angle-down"></i></a>
                          <ul>
                              <li><a href="about.html">About us</a></i></li>
                              <li><a href="contact.html">Contact us</a></i></li>
                              <li><a href="contact.html#faq">FAQ</a></i></li>
                          </ul>
                      </li>
                  </ul>
              </div>

              <ul>
                  <li><a href="#">Saved <i class="far fa-heart"></i></a></li>
                  <li><a href="#">Account <i class="fas fa-angle-down"></i></a>
                      <ul>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="register.html">Register</a></li>
                      </ul>
                  </li>
              </ul>
          </section>
      </nav>

  </header>

   <!-- header section ends -->


   <!-- services section starts  -->

   <section class="services">

      <h1 class="heading">our services</h1>

      <div class="box-container">

         <div class="box">
            <img src="images/icon-1.png" alt="">
            <h3>buy property</h3>
            <p>Explore a diverse range of properties for sale, from cozy apartments to spacious villas, and find your perfect match</p>
         </div>

         <div class="box">
            <img src="images/icon-2.png" alt="">
            <h3>rent property</h3>
            <p>List your property for sale and connect with potential buyers effortlessly through our platform.</p>
         </div>

         <div class="box">
            <img src="images/icon-3.png" alt="">
            <h3>sell property</h3>
            <p>Discover rental properties suited to your lifestyle, whether you're looking for a temporary stay or a long-term home.</p>
         </div>

         <!-- <div class="box">
            <img src="images/icon-4.png" alt="">
            <h3>flats and buildings</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
         </div>

         <div class="box">
            <img src="images/icon-5.png" alt="">
            <h3>shops and malls</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
         </div>

         <div class="box">
            <img src="images/icon-6.png" alt="">
            <h3>24/7 service</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
         </div> -->

      </div>

   </section>

   <!-- services section ends -->

   <!-- listings section starts  -->

   <section class="listings">

      <h1 class="heading">latest listings</h1>

      <div class="box-container">
         <div class="box">
            <div class="admin">
                <h3>PL</h3>
                <div>
                    <p>Puravankara Limited</p>
                    <span>10-11-2022</span>
                </div>
            </div>
            <div class="thumb">
                <p class="total-images"><i class="far fa-image"></i><span>4</span></p>
                <p class="type"><span>Villa</span><span>Sale</span></p>
                <form action="" method="post" class="save">
                    <button type="submit" name="save" class="far fa-heart"></button>
                </form>
                <img src="images/Villas/v4i1.png" alt="">
            </div>
            <h3 class="name">Provident Deansgate</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>IVC Road, Bangalore North</span></p>
            <div class="flex">
                <p><i class="fas fa-bed"></i><span>4</span></p>
                <p><i class="fas fa-bath"></i><span>3</span></p>
                <p><i class="fas fa-maximize"></i><span>1900sqft</span></p>
            </div>
            <a href="view_property_v4.html" class="btn">view property</a>
        </div>

        <div class="box">
         <div class="admin">
            <h3>RRD</h3>
            <div>
               <p>Radiance Reality Developers</p>
               <span>10-11-2022</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>4</span></p>
            <p class="type"><span>flat</span><span>sale</span></p>
            <form action="" method="post" class="save">
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="images/Flats/f5i1.png" alt="">
         </div>
         <h3 class="name">Radiance The Prime</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i><span>Pammal, Chennai South</span></p>
         <div class="flex">
            <p><i class="fas fa-bed"></i><span>3</span></p>
            <p><i class="fas fa-bath"></i><span>2</span></p>
            <p><i class="fas fa-maximize"></i><span>1200sqft</span></p>
         </div>
         <a href="view_property_f5.html" class="btn">view property</a>
      </div>

         <div class="box">
            <div class="admin">
               <h3>j</h3>
               <div>
                  <p>john deo</p>
                  <span>10-11-2022</span>
               </div>
            </div>
            <div class="thumb">
               <p class="total-images"><i class="far fa-image"></i><span>4</span></p>
               <p class="type"><span>flat</span><span>sale</span></p>
               <form action="" method="post" class="save">
                  <button type="submit" name="save" class="far fa-heart"></button>
               </form>
               <img src="https://cdn3.index.cy/wp-content/uploads/2023/07/961f68885830eb3b1d94aa2730d3a16f.jpg" alt="">
            </div>
            <h3 class="name">modern flats and appartments</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>andheri, mumbai, india - 401303</span></p>
            <div class="flex">
               <p><i class="fas fa-bed"></i><span>3</span></p>
               <p><i class="fas fa-bath"></i><span>2</span></p>
               <p><i class="fas fa-maximize"></i><span>750sqft</span></p>
            </div>
            <a href="view_property.html" class="btn">view property</a>
         </div>

      </div>

      <div style="margin-top: 2rem; text-align:center;">
         <a href="listings.html" class="inline-btn">view all</a>
      </div>

   </section>

   <!-- listings section ends -->

   <!-- home section starts  -->

   <div class="home">

      <section class="center">

         <form action="/search" method="post">
            <h3>Find your perfect property</h3>
            <div class="box">
               <p>Enter location <span>*</span></p>
               <input type="text" name="location" required maxlength="50" placeholder="Enter city name" class="input">
            </div>
            <div class="flex">
               <div class="box">
                  <p>Property type <span>*</span></p>
                  <select name="type" class="input" required>
                     <option value="flat">Flat</option>
                     <option value="house">Villa</option>
                     <option value="shop">Shop</option>
                  </select>
               </div>
               <div class="box">
                  <p>BHK <span>*</span></p>
                  <select name="bhk" class="input" required>
                     <option value="1">1 BHK</option>
                     <option value="2">2 BHK</option>
                     <option value="3">3 BHK</option>
                     <option value="4">4 BHK</option>
                     <!-- <option value="5">5 BHK</option>
                     <option value="6">6 BHK</option>
                     <option value="7">7 BHK</option>
                     <option value="8">8 BHK</option>
                     <option value="9">9 BHK</option> -->
                  </select>
               </div>
               <div class="box">
                  <p>Minimum budget <span>*</span></p>
                  <select name="minimum" class="input" required>
                     <option value="5000000">5 lac</option>
                     <option value="1000000">10 lac</option>
                     <option value="2000000">20 lac</option>
                     <option value="3000000">30 lac</option>
                     <option value="4000000">40 lac</option>
                     <option value="4000000">40 lac</option>
                     <option value="5000000">50 lac</option>
                     <option value="6000000">60 lac</option>
                     <option value="7000000">70 lac</option>
                     <option value="8000000">80 lac</option>
                     <option value="9000000">90 lac</option>
                     <option value="10000000">1 Cr</option>
                     <option value="20000000">2 Cr</option>
                     <option value="30000000">3 Cr</option>
                     <option value="40000000">4 Cr</option>
                     <option value="50000000">5 Cr</option>
                     <option value="60000000">6 Cr</option>
                     <option value="70000000">7 Cr</option>
                     <option value="80000000">8 Cr</option>
                     <option value="90000000">9 Cr</option>
                     <option value="100000000">10 Cr</option>
                     <option value="150000000">15 Cr</option>
                     <option value="200000000">20 Cr</option>
                     <option value="500000000">50 Cr</option>
                     <option value="1000000000">100 Cr</option>
                  </select>
               </div>
               <div class="box">
                  <p>Maximum budget <span>*</span></p>
                  <select name="maximum" class="input" required>
                     <option value="5000000">5 lac</option>
                     <option value="1000000">10 lac</option>
                     <option value="2000000">20 lac</option>
                     <option value="3000000">30 lac</option>
                     <option value="4000000">40 lac</option>
                     <option value="4000000">40 lac</option>
                     <option value="5000000">50 lac</option>
                     <option value="6000000">60 lac</option>
                     <option value="7000000">70 lac</option>
                     <option value="8000000">80 lac</option>
                     <option value="9000000">90 lac</option>
                     <option value="10000000">1 Cr</option>
                     <option value="20000000">2 Cr</option>
                     <option value="30000000">3 Cr</option>
                     <option value="40000000">4 Cr</option>
                     <option value="50000000">5 Cr</option>
                     <option value="60000000">6 Cr</option>
                     <option value="70000000">7 Cr</option>
                     <option value="80000000">8 Cr</option>
                     <option value="90000000">9 Cr</option>
                     <option value="100000000">10 Cr</option>
                     <option value="150000000">15 Cr</option>
                     <option value="200000000">20 Cr</option>
                     <option value="500000000">50 Cr</option>
                     <option value="1000000000">100 Cr</option>

                  </select>
               </div>
            </div>
            <a href="listings.html" class="btn">
               <input type="submit" value="search property" name="search" class="btn">
            </a>

            <!-- <input type="submit" value="search property" name="search" class="btn" > -->

         </form>

      </section>

   </div>

   <!-- home section ends -->









   <!-- footer section starts  -->

   <footer class="footer">

      <section class="flex">

         <div class="box">
            <a href="tel:9580710551"><i class="fas fa-phone"></i><span>0532-6732634</span></a>
            <a href="tel:8354957789"><i class="fas fa-phone"></i><span>0532-6732635</span></a>
            <a href="mailto:singkrishna2102006@gmail.com"><i
                  class="fas fa-envelope"></i><span>eliteestates@gmail.com</span></a>
            <a href="#"><i class="fas fa-map-marker-alt"></i><span>Prayagraj, India - 211012</span></a>
         </div>

         <div class="box">
            <a href="home.html"><span>Home</span></a>
            <a href="about.html"><span>About Us</span></a>
            <a href="contact.html"><span>Contact Us</span></a>
            <!-- <a href="listings.html"><span>all listings</span></a> -->
            <!-- <a href="#"><span>saved properties</span></a> -->
         </div>

         <div class="box">
            <a href="https://www.facebook.com"><span>Facebook</span><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com"><span>Twitter</span><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com"><span>Linkedin</span><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com"><span>Instagram</span><i
                  class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com"><span>Youtube</span><i
                  class="fab fa-youtube"></i></a>

         </div>

      </section>

      <div class="credit">&copy; copyright @ 2024 by <span>Team EliteEstates</span> | all rights reserved!
      </div>

   </footer>

   <!-- footer section ends -->


   <!-- custom js file link  -->
   <script src="js/script.js"></script>
   <script src="script.js"></script>

</body>

</html>